/*共通・モバイル端末の設定*/
body{
	background: #FAFAFA;
	margin: 0px auto;
	font-family:'メイリオ', Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro',  'ＭＳ Ｐゴシック', sans-serif !important;
	background-image: url("../images/haikei.png");
}
header {
	background: rgba(245,245,245,0.85);
}
.navbar{
	background-color: #3737DC;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #212121;
	background-color:#C5CAE9;
}
.navbar-default .navbar-header > button{
	background-color:white;
}
section img{
	margin: 15px;
}
section img:hover{
	opacity: 0.5;
}
#contents{
	background: rgba(240,240,245,0.90);
	color: #1F242E;
	padding: 15px;
	text-align:text-left;
	line-height: 1.5em;
}
div h3{
	color: #212121;
	font-size: 20px;
	border-bottom: 3px solid white;
	box-shadow: 0 1.5px 0 #aaf;
}
h2{
	color: #414151;
	font-size: 28px;
}
footer{
	font-size:12px;
	text-align: center;
	margin: 15px;
}
div #back-to-top{
	position: fixed;
	right:150px;
	bottom: 150px
	z-index:1;
}
/*PC用の設定*/
@media (min-width: 768px){
	body{
		margin: 100px;
	}
	div h3{
		font-size: 24px;
		border-bottom: 3px solid white;
		box-shadow: 0 1.5px 0 #aaf;
	}
	h2{
		color: #414151;
		font-size: 32px;
	}
	#contents{
		font-size: 16px;
		background: rgba(250,250,250,0.85);
		color: #1F242E;
		padding: 10px 30px 10px 50px;
		text-align:text-left;
		line-height: 1.5em;
	}
	.navbar-nav{
		margin: 0 auto;
		display: table;
		table-layout: fixed;
		float:none;
		color: white;
	}
	footer{
		text-align: center;
		margin: 100px;
	}
}